<%=form_tag "/custom_sign_up" , method: :post do %>
	<ul>
		<%= @user.errors.full_messages.each do |error| %>
			<li><%= error %> </li>
			<% end %>
	</ul> 
	<div>
		Nombre de Usuario 
		<%=text_field_tag "user[username]",@user.username %>
	</div>
	<div>
		Email 
		<%=email_field_tag "user[email]",@user.email %>
	</div>
	<div>
		Nombre 
		<%=text_field_tag "user[name]",@user.name %>
	</div>
	<div>
		<%=submit_tag "Completar Registro" %>
	</div>

<% end %>
